.menu-container,
.menu-info {
  display: contents;
}

.menu-container img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 15px;
}

.menu-container .menu-details1 h6 {
  cursor: pointer;
}

.menu-container .menu-details1 h2 {
  margin: 0;
}

.menu-container p {
  margin: 5px 0;
  font-family: var(--righteous);
  text-align: left;
}

.menu-container .delete-car button {
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  color: var(--black);
  cursor: pointer;
  padding-left: 20px;
}

.menu-container .delete-car button:hover {
  color: indianred;
}

.menu-container .price-color {
  display: contents;
}

@media (max-width: 800px) {
  .menu-container .delete-car button {
    padding-left: 0;
  }

  .menu-container .delete-car {
    align-self: baseline;
  }
}

@media (max-width: 600px) {
  .menu-container .price-color {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  }

  .menu-container .menu-info {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
  }
  .menu-container img {
    width: 100px;
  }
  .menu-container .delete-car {
    position: absolute;
    top: -6px;
    right: 0;
  }
}

/* ****************** */
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  /* padding: 20px; */
  justify-items: center;
}

.grid-container .car-card > div {
  position: relative;
}

.grid-container .car-image-name {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.4);
  color: var(--white);
  font-family: var(--righteous);
  padding: 40% 0;
  font-size: 1.3em;
  border-radius: 50px;
  user-select: none;
  opacity: 0;
  transition: ease 0.3s;
  cursor: pointer;
}

.grid-container .car-image-name:hover {
  opacity: 1;
  transition: ease 0.3s;
}

.grid-container .car-card {
  border-radius: 15px;
  min-width: 300px;
}

.grid-container .car-image {
  max-width: 300px;
  height: 300px;
  display: block;
  margin: auto;
  user-select: none;
  object-fit: cover;
  border-radius: 50px;
}

.grid-container .car-info {
  padding: 15px;
}

.grid-container .car-name {
  margin: 0;
  color: var(--black);
  font-size: 1.5em;
}

.grid-container .car-details {
  display: flex;
  justify-content: space-around;
  margin: 15px 0;
}

.grid-container .car-details p {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-container .car-price {
  margin: 0;
  color: var(--dark-grey);
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
}

.grid-container .car-actions {
  display: flex;
  justify-content: space-around;
  margin-top: 16px;
}

.grid-container .car-card .bordered-btn {
  color: var(--black);

  &:hover {
    color: var(--white);
  }
}

.grid-container .car-details img {
  height: 15px;
}

@media (max-width: 1400px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .grid-container .car-card {
    min-width: 280px;
  }
}

@media (max-width: 1150px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-container .car-card {
    min-width: 280px;
  }
}

@media (max-width: 800px) {
  .grid-container {
    margin: 0 -40px;
  }
}

@media (max-width: 700px) {
  .grid-container {
    grid-template-columns: 1fr;
    margin: 0 -30px;

  }
  .grid-container .car-card {
    margin: 10px 15px;
    max-width: 400px;
    min-width: 200px;
  }
}
