#search-bar {
  background-color: var(--white);
  padding: 1.5em;
  border-radius: 10px;
  box-shadow: inset 0 0 10px #0002;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1em;
  align-items: center;
  justify-items: center;
  border-radius: 40px;
  width: 85%;
  margin: auto;
}

.search-filters {
  display: contents;
}

.filter h4 {
  color: var(--black);
  font-family: var(--righteous);
  font-weight: 500;
  text-align: left ;
  font-size: 1.1em;
}


.dropdown {
  width: 100%;
  padding: 0.5em;
  padding-right: 0;
  border: none;
  border-radius: 5px;
  color: var(--dark-grey);
  -webkit-appearance: none; 
  -moz-appearance: none;
  appearance: none;
  font-size: 15px;
  cursor: pointer;
  user-select: none;
  background-color: transparent;

}

.dropdown:focus {
  outline: none;
  box-shadow: none;
}

.dropdown option {
  /* color: aqua; */
  padding: 10px;
  height: 400px;
  cursor: pointer;
}
.dropdown option:hover {
  color: var(--black);
  background-color: var(--grey);
}
#search-bar .filter-menu {
  display: flex;
  align-items: center;
}

#search-bar .filter-menu img {
  display: inline;
  width: 20px;
  height: 100%;
}

#search-bar .filter-menu .arrow-down {
  color: var(--dark-grey);
  user-select: none;

}
/* @media (max-width: 1200px) {
  .search-bar {
    grid-template-columns: repeat(2, 1fr);
  }
} */



@media (max-width: 1100px) {
  #search-bar {
    grid-template-columns: repeat(4, 1fr);
  }

  #search-bar > .filled-btn {
    grid-column: 1 / span 4;
    margin-top: 1em;
  }
}

@media (max-width: 950px) {
  #search-bar {
    grid-template-columns: repeat(2, 1fr);
  }

  #search-bar > .filled-btn {
    grid-column: 1 / span 2;
    margin-top: 1em;
  }
}


@media (max-width: 550px) {
  #search-bar {
    grid-template-columns: 100% ;
  }

  #search-bar > .filled-btn {
    grid-column: 1 ;
    margin-top: 1em;
  }
}