#search-bar {
  background-color: var(--white);
  padding: 1.5em;
  border-radius: 10px;
  box-shadow: inset 0 0 10px #0002;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1em;
  align-items: center;
  justify-items: center;
  border-radius: 40px;
  width: 85%;
  margin: auto;
}

.search-filters {
  display: contents;
}

.filter h4 {
  color: var(--black);
  font-family: var(--righteous);
  font-weight: 500;
  text-align: left ;
  font-size: 1.1em;
}

.filter span{
  display: none;
}

.filter  .css-1xc3v61-indicatorContainer , .filter .css-15lsz6c-indicatorContainer{
  padding: 0;
  padding-left: 5px;
  
}

.filter .css-1jj59y3-MenuList2{
  /* width: fit-content; */
  scrollbar-width: thin;
}

.filter .css-1dimb5e-singleValue{
  overflow: visible;
  color: var(--dark-grey);
}
.filter .css-art2ul-ValueContainer2{
  padding: 0;
}

#search-bar .filter-menu {
  display: flex;
  align-items: center;
  justify-content: left;

}

#search-bar .filter-menu img {
  display: inline;
  margin-right: 10px;
  width: 20px;
  height: 100%;
}



@media (max-width: 1100px) {
  #search-bar {
    width: 100%;
  }
}

@media (max-width: 950px) {
  #search-bar {
    grid-template-columns: repeat(4, 1fr);
  }

  #search-bar > .filled-btn {
    grid-column: 1 / span 4;
    margin-top: 1em;
  }
}

@media (max-width: 800px) {
  #search-bar {
    grid-template-columns: repeat(2, 1fr);
  }

  #search-bar > .filled-btn {
    grid-column: 1 / span 2;
  }
}


@media (max-width: 450px) {
  #search-bar {
    grid-template-columns: 100% ;
    margin-top: 40px;
  }
  #search-bar > .filled-btn {
    grid-column: 1 ;
  }
  #search-bar h4 {
    text-align: center;
  }
}



